<!DOCTYPE html>
<html>
  <head>
    <title>Fieldtrips</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'home' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
